	<h3>Experience</h3>
	        <strong>Industry Dive</strong>
	        <p>Full stack developer doing both front and back end development and working in an agile scrum based team. Utilizing Python based model view controller web frameworks such as Django and Flask to produce database driven websites while utilizing Vagrant boxes and Docker containers as a development environment. </p>

	        <p>Daily tasks include designing, coding, opening and fixing issues, and completing pull requests on various web applications in several different repos. The technologies I worked with were Python (Including Django and Flask) CSS (Including SASS and Bootstrap), JavaScript (Including JQuery), SQL and HTML. Git was also used as version control. My daily tasks were managed through the assigning of issues on GitHub and these were managed using Waffle.io.</p>

	        <p>Took project management lead on a Flask based application developed to validate subscriber’s information by pulling a subscribers information from a database and displaying this in a form field for users of the application to verify the information and add any other relevant information to better target the subscribers with content. In addition to development tasks I also dealt with the users of the application to assess any issues they were having with the system and from there develop solutions to these issues while also analyzing the data retrieved.</p>

	<h3>Education</h3>
	        <strong>University of Limerick</strong>
	        <p>Graduated with a Bachelor of Engineering in Computer Engineering. During myfour years here I undertook a wide array of modules and exposure to many different programming languages including </p>

	        <p></p>

	        <p></p>